#idcard {
    border-radius: 25px;
    border: round;
    border-style: inset;
    border-width: 7px;
    border-color: #323232;
    background-color: rgb(206, 206, 206);
    padding: 40px; 
    margin: 30px;
    height: 16%;
}